
.perfil{
    height: 350px;
    
    

}

.perfil_texto p{
    padding-top: 1cm;
    text-align: justify;
}

.perfil {
    font-family: 'Montserrat';
    color: lightslategray;
}

.contatoadotar {
    height: 100px;
    padding-top: 30px;
    font-family: 'Montserrat';
    color: lightslategray;
    
}

.miniatura img{

    
    height: 100px;
    
}


