
.perfil{
    height: 350px;
    padding: 25px 200px;
    

}

.perfil_texto p{
    padding-top: 1cm;
}

.perfil {
    font-family: 'Montserrat';
    color: lightslategray;
}

.contatoadotar {
    height: 100px;
    padding-top: 30px;
    font-family: 'Montserrat';
    color: lightslategray;
    
}

.miniatura img{

    padding-left: 200px;
    height: 100px;
    
}

